.aspid-fasttools-id-drawer {
    flex-direction: column;
    margin: 1px 3px;
}

.aspid-fasttools-id-drawer__main-row {
    flex-direction: row;
    align-items: center;
}

.aspid-fasttools-id-drawer__label {
    width: 40%;
    flex-grow: 1;
    max-width: 40%;
    min-width: 40%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -unity-text-align: middle-left;
}

.aspid-fasttools-id-drawer__dropdown {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 2px 6px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 6px;
    border-width: 1px;
    border-color: var(--aspid-colors-bg-darkness);
    -unity-text-align: middle-left;
    text-overflow: ellipsis;
    transition: border-color 80ms ease-out, color 80ms ease-out;
}

.aspid-fasttools-id-drawer__dropdown:focus {
    border-color: var(--aspid-colors-status-info-text-dark);
}

.aspid-fasttools-id-drawer__dropdown--missing {
    color: var(--aspid-colors-status-error-text-light);
}

.aspid-fasttools-id-drawer__create-button {
    margin: 0;
}

.aspid-fasttools-id-drawer__create-row {
    display: none;
    flex-direction: row;
    margin-top: 2px;
}

.aspid-fasttools-id-drawer__input {
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 6px;
    transition: border-color 80ms ease-out;
}

.aspid-fasttools-id-drawer__input:focus-within {
    border-color: var(--aspid-colors-status-info-text-dark);
}

.aspid-fasttools-id-drawer__add-button {
    margin-left: 4px;
}

.aspid-fasttools-id-drawer__cancel-button {
    margin-left: 2px;
}

.aspid-fasttools-id-drawer__error {
    display: none;
    margin-top: 2px;
    font-size: 10px;
    color: var(--aspid-colors-status-error-text-light);
}

.aspid-fasttools-id-drawer__open-button {
    margin: 0;
    padding: 1px;
}

.aspid-fasttools-id-drawer__open-button Image {
    width: 14px;
    height: 14px;
}

.aspid-fasttools-id-drawer__int-only-hint {
    margin-top: 2px;
    font-size: 10px;
    color: var(--aspid-colors-status-warning-text-dark);
    -unity-font-style: italic;
}
