.aspid-fasttools-id-drawer
{
    flex-direction: column;
    margin: 1px 3px;
}

.aspid-fasttools-id-drawer__main-row {
    flex-direction: row;
    align-items: center;
}

.aspid-fasttools-id-drawer__label
{
    width: 40%;
    flex-grow: 1;
    max-width: 40%;
    min-width: 40%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -unity-text-align: middle-left;
}

.aspid-fasttools-id-drawer__dropdown {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    -unity-text-align: middle-left;
    text-overflow: ellipsis;
}

.aspid-fasttools-id-drawer__dropdown--missing
{
    color: rgb(255, 102, 102);
}

.aspid-fasttools-id-drawer__create-button {
    margin: 0;
}

.aspid-fasttools-id-drawer__create-row
{
    display: none;
    flex-direction: row;
    margin-top: 2px;
}

.aspid-fasttools-id-drawer__input
{
    flex-grow: 1;
    flex-shrink: 1;
}

.aspid-fasttools-id-drawer__add-button {
    margin-left: 4px;
}

.aspid-fasttools-id-drawer__cancel-button
{
    margin-left: 2px;
}

.aspid-fasttools-id-drawer__error
{
    display: none;
    margin-top: 2px;
    color: rgb(255, 102, 102);
    font-size: 10px;
}

.aspid-fasttools-id-drawer__open-button {
    margin: 0;
    padding: 1;
}

.aspid-fasttools-id-drawer__open-button Image {
    width: 14px;
    height: 14px;
}

.aspid-fasttools-id-drawer__int-only-hint
{
    color: #aa8833;
    font-size: 10px;
    margin-top: 2px;
    -unity-font-style: italic;
}
